# Created by .ignore support plugin (hsz.mobi)

/src/model/rae/*
/src/model/word2vec/*
/src/summarytext/*
/src/data/mini_corpus_have_embedding2.npy
/src/data/vietnamesemds/*
/src/data/summarymds/summary_model/80/*
/src/data/summarymds/summary_model/160/*
/src/data/summarymds/summary_model/240/*
/src/data/summarymds/summary_model/320/*
/src/data/summarymds/summary_system/80/*
/src/data/summarymds/summary_system/160/*
/src/data/summarymds/summary_system/240/*
/src/data/summarymds/summary_system/320/*
/src/data/summarymds/settings*

